/* Set style for heading */
h1 {
  text-align: center;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

/* Set styling for heading h2 */
h2 {
  font-size: 0.9em;
}


/* Style for content when the page is at 480px or smaller */
  #wrapper {
    /* padding-left: 250px; */
    overflow-x: auto;
    overflow-y: auto;
  }
  #sidebar-wrapper {
    width: 250px;
  }
